*.pyc
*.txt
*.npy
*.csv
.idea/
venv/

recognition_logs/*
training_logs/*
norecognition_logs/*

MainModel.py
core/models_weights/
core_old/
face/
core/models/models_weights/
notebooks/output/
notebooks/.ipynb_checkpoints/
*.mp4
data/